body{
background-color: #111;
    font-family: "Nirmala UI";
}
.navigation{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Nirmala UI";
}

li a:hover:not(.active) {
    background-color: #333;
}

.active {
    background-color: #800000;
}
h1 {
    text-align: center;
    font-size: 75px;
    color: white;
}
h2 {
    color: white;
    font-family: "Roboto Medium";
}
.description{
    font-size: 30px;
    text-align: left;
}
.logo{
    padding: 10px;
    margin: 10px;
}
.hq{
    text-align: left;
    font-family: "Roboto Medium";
}
.socialsite{
    text-align: left;
    font-family: "Roboto Medium";
}
.click{
    color: #800000;
    text-decoration: none;
}
.click:active{
    color: #4d0000;
}
.socialfb{
    color: #003399;
    font-size: 30px;
}
.socialfb:active{
    color: #001a4d;
}
.socialig{
    color: #994d00;
    font-size: 30px;
}
.socialig:active{
    color: #663300;
}
.socialtwitter{
    color: #008fb3;
    font-size: 30px;
}
.socialtwitter:active{
    color: #007399;
}
.fa-instagram{
    color: coral;
    text-decoration: none;
}
.fa-facebook-f{
    color: blue;
    text-decoration: none;
    padding-left: 20px;
}
.fa-twitter{
    color: deepskyblue;
    text-decoration: none;
    padding-left: 20px;
}
.imagekebab{
    padding-left: 10px;
}
.fa-phone{
    margin-top: 15px;
    color: white;
}
.info{
    text-align: left;
    font-family: "Roboto Medium";
}