.container {
    text-align: left;
}
h2{
    font-family: "Nirmala UI", sans-serif;
}
form{
    display: inline-block;
    text-align: left;
    background-color: #000;
    padding: 30px;
    margin-left: 5px;
    border-radius: 10px;
}
.zprava{
    border-radius: 8px;
    height: 80px;
    width: 180px;
    margin: 15px;
}

input{
    margin-top: 10px;
    padding: 10px;
    background-color: #333;
    color: white;
}
.odeslat{
    cursor: pointer;
    background-color: #4d0000;
    font-family: "Nirmala UI", sans-serif;
    font-size: medium;
    width: 200px;
    margin: 15px;
    border-radius: 8px;
}
.email{
    font-family: "Nirmala UI", sans-serif;
    width: 180px;
    margin: 15px;
    border-radius: 8px;
}
.name{
    font-family: "Nirmala UI", sans-serif;
    width: 180px;
    margin: 15px;
    border-radius: 8px;
}

